<section id="snippets">

    <div class="snippets-des">
        <h2>Keep track of your snippets</h2>
        <p>Clipboard instantly store any item you copy in the cloud, meaning you can access your snippets immediately on all your devices. Our Mac and IOS apps will help you organize everything.</p>
    </div>

    <div class="snippets-section">
        <img class="snippets-img" src="./assets/images/image-computer.png" alt="">
               
        <div class="snippets-features">
            <div>
                <h3>Quick Search</h3>
                <p>Easily search your snippets by content, category, web address, application and more.</p>
            </div>
            <div>
                <h3>iCloud Sync</h3>
                <p>Instantly saves and syncs snippets across all your devices.</p>
            </div>
            <div>
                <h3>Complete History</h3>
                <p>Retrieve any snippets from the first moment you started using the app.</p>
            </div>

        </div>
    </div>

</section>