/* cambiar la barra */
*::-webkit-scrollbar {
    width: 50px;

}

*::-webkit-scrollbar-track {
    border-radius: 30px;
    margin: 1em;
}

*::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: red;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(185, 0, 0);
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:active {
    background-color: rgb(98, 0, 0);
}