#features {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* padding: 20px 100px; */
    width: 100%;
}

#features p {
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    /* font-size: 14px; */
    line-height: 1.8;
}

.top-workflow {
    text-align: center;
    margin: 40px;
}

.top-workflow h3 {
    font-size: 34px;
    color: hsl(210, 10%, 33%);
    margin-bottom: 0px;
}

.workflow-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.workflow-item {
    width: 340px;
    text-align: center;
    /* padding: 14px; */
}

.workflow-item:nth-child(1) img {
    width: 40px;
    height: 35px;
}

.workflow-item:nth-child(2) img {
    width: 36px;
    height: 30px;
}

.workflow-item:nth-child(3) img {
    width: 45px;
    height: 30px;
}

.workflow-item p {
    font-size: 16px;
}

.workflow-item h4 {
    font-size: 22px;
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    margin-bottom: 0px;
}

.workflow-item img {
    /* width: 40px; */
    max-width: 60px;
    height: 40px;
}

.img-container {
    height: 34px;
}