section {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    color: hsl(210, 10%, 33%);
}

p {
    font-weight: 300;
    color: hsl(210, 10%, 33%);
    font-size: 16px;
    line-height: 1.5;
}

#screens img {
    width: 100%;
    color: hsl(210, 10%, 33%);
    /*max-width: 900px;*/
    height: auto;
}