
.snippets-des{

    margin: 0 auto;
    width: 700px;
    text-align: center;
    margin-bottom: 70px;
    margin-bottom: 70px;
    h2{
        font-size: 30px;
        color: hsl(210, 10%, 33%);
        
    }
    p{
        color: hsl(201, 11%, 66%);
        font-weight: 400;
    }
}

.snippets-section{
    display: flex;
    gap: 100px;
    position: relative;
}

.snippets-img{
    
    width:50%;
    position: relative;
    left: -50px;
}

.snippets-features{
    
    width: 400px;
    padding-top: 90px;
    line-height: 1.6;
    h3{
        font-size: 22px;
        color: hsl(210, 10%, 33%);
        
    }
    p{
        color: hsl(201, 11%, 66%);
        font-weight: 400;
    }
    
}

@media(width<1347px){

    .snippets-section{
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        
        position: static;
        
        
    }

    
    .snippets-img{
        
        width: 80%;
        position: static;
    }

       
}

@media(width<700px){
    
.snippets-des{
    margin: 0 auto;
    width: 400px;
    }
}

.snippets-features{
    
    width: 400px;
    padding-top: 5px;
}